.wrapper{
    margin: 10px;
    display: flex;
    align-items: center;
}

.avatar{
    margin-right: 10px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #b39cd0;
    padding: 5px;
}
