.container{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin: 10px;
}

.pagination{
    display: flex;
    flex-wrap: wrap;
}

.pagination span {
    padding: 7px;
    cursor: pointer;
}

.active{
    font-weight: bold;
}

.avatarIcon{
    display: flex;
}

.avatarIcon img{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    padding: 2px;
    border: 1px solid crimson;
    margin-right: 15px;
    margin-bottom: 10px;
}

.usersWrapper{
    display: flex;
    flex-wrap: wrap;
}

.btn{
    text-align: center;
    margin-left: 13px;
}
