.formInputContainer {
    font-size: 1rem;
    margin-bottom: 15px;
}
.formInput {
    padding: 13px 15px;
    border-radius: 8px;
    border: 2px solid #1a73e8;
    outline: 0;
    min-height: 6em;
    max-height: 50vh;
    width: 600px;
    resize: none;
}

.formInputLabel {
    position: absolute;
    top: -7px;
    left: 10px;
    color: #1a73e8;
    font-size: 0.85rem;
    padding-right: 0.33rem;
    padding-left: 0.33rem;
    background: #fff;
    transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
    font-family: sans-serif;
    text-transform: capitalize;
}

.button {
    border: 0.5rem solid rebeccapurple;
    border-radius: 0.3rem;
    background: rebeccapurple;
    color: white;
    margin-left: 14px;
    transition: all ease .3s;
    cursor: pointer;
}
.button:active{
    border: 0.7rem solid rebeccapurple;
}
