.wrapperForm {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginForm {
    min-width: 250px;
    max-width: 400px;
    border-radius: 24px;
    padding: 15px;

}

.loginForm h1 {
    text-align: center;
    font-size: 2.5rem;
    margin-top: 35px;
}

.loginForm input[type = "text"] {
    margin-top: 30px;
}

.loginForm input[type = "password"] {
    margin-top: 10px;
}

.links {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.links > a:first-of-type {
    margin-right: 5px;
}

.links > a {
    background-color: #E0E0E0;
    border-radius: 24px;
    font-weight: 400;
    color: black;
    line-height: 12px;
    flex: 1;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-family: 'Raleway', serif;
    transition: 0.25s;
}

.links > a:hover {
    opacity: 0.6;
}

.loginForm input[type = "submit"] {
    background-color: #E0E0E0;
    background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
    width: 100%;
    color: white;
    border: none;
    margin-top: 35px;
    cursor: pointer;
    padding: 10px;
    font-family: 'Raleway', sans-seriff, serif;
    font-size: 1.3rem;
    font-weight: bold;
    border-radius: 24px;
    transition: 0.25s;
}

.loginForm input[type = "submit"]:hover {
    opacity: 0.8;
}

.loginForm input[type = "text"]:focus, .loginForm input[type = "password"]:focus {
    border: 2px #21D4FD solid;
}

.loginForm input[type = "text"], .loginForm input[type = "password"] {
    width: 100%;
    border: none;
    border-radius: 24px;
    font-size: 1rem;
    font-family: 'Raleway', sans-seriff, serif;
    background-color: gainsboro;
    padding: 15px;
    box-sizing: border-box;
}

.error {
    border: 2px solid red !important;
}
