.wrapper{
    display: flex;
}

.dialogs{
    text-align: center;
    width: 25%;
    border-right: 1px solid;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.dialogs a {

}

.messages{
    padding-left: 10px;
}

