.nav{
    grid-area: n;
    background-color: #B39CD0;
    border-radius: 30px;
}

.link {
    color: white;
}

.nav li a:hover {
    opacity: .7;
}

.nav li {
    margin: 10px 0;
}

.activeLink {
    color: #1a73e8;
}
